@tailwind base;
@tailwind components;
@tailwind utilities;

.login-button {
  position: relative;
}

.login-button span {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  border-radius: 9px;


  /* From https://css.glass */
  background: #01ff622a;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.1px);
  -webkit-backdrop-filter: blur(14.1px);
  border: 1px solid #01ff622a;
  /* From https://css.glass */
}

.login-button span img {
  height: 100%;
}